#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#publisher2 {
  position: relative;
  width: 360px;
  height: 240px;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  border: 3px solid white;
  border-radius: 3px;

}
#publisher {
    text-align: right;
    position: relative;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

.buttons {
  margin-bottom: 10px;
}

#poop {
  height: 50px;
  width: 50px;
}

#pound {
  height: 50px;
  width: 50px;
}

#poop2 {
  height: 50px;
  width: 50px;
}

#pound2 {
  height: 50px;
  width: 50px;
}
